{% extends "base.html" %}

{% block title %} Todo sample app {% endblock %}
{% block logo %}{{action}}{% endblock %}
{% block content %}
<div id="content" class="span12">
	{% if todos %}

	
	<table class="table table-hover" id="todotable">
	  <thead>
		<tr>	
			<th class="td_title">title</th>
			<th>text</th>
			<th>priority</th>
			<th>date due</th>
			<th></th>
		</tr>
	  </thead>
	  <tbody>
		{% for todo in todos %}
		<tr class="{{todo.status}}">
			<td class="td_title"><a href="/details/{{todo.id}}" title="details" class="title_view">{{todo.title}}</a></div></td>
			<td>{{todo.text|truncatechars:30}}</td>
			<td class="td_priority">{{todo.get_priority_display}}</td>
			<td class="td_due">
				<div class="index-due-maincont">
					<img class="flaming-warning" src="{{ STATIC_URL }}img/{{todo.status}}.gif" title="{{todo.status}}"/>
					<div class="index-due-cont">{{ todo.date_due|date:"d/m/Y" }}</div>
				</div>
			</td>


			<td class="grid_ops">
				<div>
					<a href="/details/{{todo.id}}" title="edit" class="op_view typicn views"></a> 
					<a href="/update/{{todo.id}}" title="delete" class="op_update typicn write"></a> 
					<a href="/delete/{{todo.id}}" title="view" class="op_delete typicn delete"></a>
				</div>
			</td>

		</tr>	
		{% endfor %}
	  </tbody>

		{% else %}
			<p>No todos.</p>
		
	</table>
	{% endif %}
</div><!-- content -->
{% endblock %}

        